{% extends "appbuilder/baselayout.html" %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/changemenu.css')}}"></link>
{% endblock %}

{% block head_js %}
{{ super() }}
 <script src="{{url_for('static',filename='js/menumodification.js')}}"> </script>

{% endblock %}
{% block content %}
<div class="jumbotron">
  <div class="container">
   <b> <h2>{{_("Welcome to Code Automation Magic!")}}</h2></b>
      <br>
    <p>{{_("""

Ready to turn your SQL queries and stored procedures into slick programming language code?""")}}</p>
    <p>{{_("""  Our app, powered by LLM Models, does just that—turning your database interactions into
        clean specified language scripts in a snap. And guess what? It even moves those scripts into Git for you, all based on your setup.""")}}</p>
      <br>
  <p>{{_(""" Say goodbye to manual conversions and hello to automated awesomeness. """)}}</p>
      <br>
      <p>{{_("""  Let’s make coding fun and easy! """)}}</p>
  </div>
</div>
{% endblock %}

       {% block body %}
    {{ super() }}

    <!-- Spinner GIF, initially hidden -->
    <div id="spinner" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%);">
        <img src="{{ url_for('static', filename='spinner.gif') }}" alt="Loading...">
    </div>
{% endblock %}
